extends layout

block head
  title Carousel Template · Bootstrap
  link(href="/stylesheets/bootstrap.css",rel="stylesheet")
  link(href="/stylesheets/carousel.css",rel="stylesheet")
block body
  .navbar-wrapper
    .container
      .navbar.navbar-inverse
        .navbar-inner
          a(data-toggle="collapse",data-target=".nav-collapse").btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href="#").brand Project name

          .nav-collapse.collapse
            ul.nav
              li.active
                a(href="#") Home
              li
                a(href="#about") About
              li
                a(href="#contact") Contact
              
              li.dropdown
                a(href="#",data-toggle="dropdown").dropdown-toggle Dropdown
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="#") Action
                  li
                    a(href="#") Another action
                  li
                    a(href="#") Something else here
                  li.divider
                  li.nav-header Nav header
                  li
                    a(href="#") Separated link
                  li
                    a(href="#") One more separated link
                

  #myCarousel.carousel.slide
    .carousel-inner
      .item
        img(src="/images/slide-01.jpg",alt="")
        .container
            .carousel-caption
              h1 不要这样子看着人家
              p.lead 高跟鞋有拉长腿部线条的作用，MM们穿上它体态会更加优美。不管是站着还是坐着，或是在走路...
              a(href="#").btn.btn-large.btn-primary Sign up today
      .item
        img(src="/images/slide-02.jpg",alt="")
        .container
            .carousel-caption
              h1 我性感吗？
              p.lead 从容展示美腿线条是每一位女性的骄傲。小腿过干粗胖或纤细都会影响小腿形体的健美，为了使你拥有一双漂亮健美的小腿，必须在日常生活中注重以下的锻炼和保养
              a(href="#").btn.btn-large.btn-primary Sign up today
      .item.active
        img(src="/images/slide-03.jpg",alt="")
        .container
            .carousel-caption
              h1 我漂亮吗？
              p.lead 美腿是形容女性美丽、性感、修长的腿形美。美腿可以分为晶莹剔透的大腿美、白璧无瑕的小腿美、细微的美足、健康明朗的腿形美。
              a(href="#").btn.btn-large.btn-primary Sign up today

    a(href="#myCarousel",data-slide="prev").left.carousel-control &lsaquo;
    a(href="#myCarousel",data-slide="next").right.carousel-control &rsaquo;
      
block append footerjs
  script
    !function ($) {
      $(function(){
        // carousel demo
        $('#myCarousel').carousel()
      })
    }(window.jQuery)
