extends layout

append head
  title 上传头像
  link(href=('/stylesheets/posts.css'),rel='stylesheet')
  link(href=('/stylesheets/avatar.css'),rel='stylesheet')
  link(rel="stylesheet",href="/stylesheets/jcrop.css")
  script(src='/javascripts/jquery.Jcrop.js')

  script
    (function() {
      $(function() {
        $('#broimg').append($('<iframe src="/home/avatar/upload?callback=upload"></iframe>').css({
          display: 'none'
        })).click(function(event) {
          var $ifr;
          event.preventDefault();
          $ifr = $(this).children('iframe').contents();
          $ifr.find('#photo-upload-btn').click().change(function() {
            return $ifr.find('#photo-upload').submit();
          });
        });
      });

      window.upload = function(opt) {
        if (opt.name) {
          $('#photo').val(opt.name);
          $('#target').css({
            width: '500px'
          }).attr('src', opt.url).Jcrop({
            trackDocument: true,
            onChange: function (c) {
              $('#photo-x').val(c.x);
              $('#photo-y').val(c.y);
              $('#photo-w').val(c.w);
              $('#photo-h').val(c.h);
              console.log(c);
            }
          });
        }
      };

    }).call(this);

block body
  div
    img#target
  form(action=('/home/avatar'),method='POST')#post-form
    span.btn#broimg Photo 
    button(type='submit').btn.btn-primary Submit!
    input(type='hidden',name='photo')#photo
    input(type='hidden',name='rect[x]')#photo-x
    input(type='hidden',name='rect[y]')#photo-y
    input(type='hidden',name='rect[w]')#photo-w
    input(type='hidden',name='rect[h]')#photo-h
  


