extends layout

append head
  title 上传头像
  link(href=('/stylesheets/posts.css'),rel='stylesheet')
  link(href=('/stylesheets/avatar.css'),rel='stylesheet')
  link(rel="stylesheet",href="/stylesheets/jcrop.css")
  script(src='/javascripts/jquery.Jcrop.js')

  script
    (function() {
      $(function() {
        $('#photo-btn').append($('<iframe src="/home/avatar/upload?callback=upload"></iframe>').css({
          display: 'none'
        })).click(function(event) {
          var $ifr;
          event.preventDefault();
          $ifr = $(this).children('iframe').contents();
          $ifr.find('#photo-upload-btn').click().change(function() {
            return $ifr.find('#photo-upload').submit();
          });
        });
      });

      window.upload = function(opt) {
        if (opt.name) {
          $('#photo').val(opt.name);
          $('#target').css({
            width: '500px'
          }).attr('src', opt.url)
          $('#target').Jcrop({
            trackDocument: true
          });
        }
      };

    }).call(this);

block body
  form(action=('/home/avatar'),method='POST')#post-form
    span.btn#photo-btn Photo
    button(type='submit').btn.btn-primary Submit!
    input(type='hidden',name='photo')#photo
  div
    img#target

