extends layout

append head
  title 上传头像

  link(href=('/stylesheets/posts.css'),rel='stylesheet')
  link(href=('/stylesheets/avatar.css'),rel='stylesheet')
  link(rel="stylesheet",href="/stylesheets/jcrop.css")
  script(src='/javascripts/jquery.Jcrop.js')
  script(src='/javascripts/avatarupload.js')

block body
  .container
    .preview-pane
      #preview.preview
        #firbroimg
          //img(src="../images/avatar/upload-sign.png")
          span 点击选择上传图片
        img#target

      .thumbnail-area
        .preview#avatar-big
          img.target
        .preview#avatar-middle
          img.target
        .preview#avatar-small
          img.target

      form(action=('/home/avatar'),method='POST')#post-form
        #broimg.btn.btn-block 浏览
        button(type='submit').btn.btn-primary 提交 
        input(type='hidden',name='photo[path]')#photo
        input(type='hidden',name='photo[w]')#photo-w
        input(type='hidden',name='photo[h]')#photo-h
        input(type='hidden',name='clip[x]')#clip-x
        input(type='hidden',name='clip[y]')#clip-y
        input(type='hidden',name='clip[w]')#clip-w
        input(type='hidden',name='clip[h]')#clip-h

