extends layout
block append head
  title Done
  link(rel="stylesheet",href="/stylesheets/wanliwan.css")
block body
  .container
    .page-header
      h1 Done!
      .pull-right ^_^
    .content
      p.well #{message}
      .more
        a(href='#{link}').btn.btn-primary Continue
