extends layout
block append head
  title Error!
block body
  .container
    .page-header
      h1 Error!
      .pull-right  O_o
    .content
      p.well  #{message}
      .more
        a(href="#{link}").btn.btn-primary  Back
