extends layout
block append head
  title Error!
  link(rel="stylesheet",href="/css/wanliwan.css")
block body
  .container
    .page-header
      h1 Error!
      .pull-right  O_o
    .content
      p.well  #{message}
      .more
        a(href="#{link}").btn.btn-primary  Back
