extends layout
block append head
  title home
  link(href="/stylesheets/home.css",rel="stylesheet")
  link(href="/stylesheets/docs.css",rel="stylesheet")
  link(href="/javascripts/google-code-prettify/prettify.css",rel="stylesheet")
  script(src="/javascripts/jquery.Draggable.js")
  script(src="/javascripts/application.js")
block body
  #container
    .header_top
      p 万里万.
      .logo
        a(href="#")
          img(src="/images/logo.png")
      .header_nav
        ul
          li
            a(href="#")
              i.icon-home.icon-2x
              //img(src="/images/nav1_01.gif")
          li
            a(href="#")
              img(src="/images/nav_02.gif")
          li
            a(href="#")
              img(src="/images/nav_03.gif")
          li
            a(href="#")
              img(src="/images/nav_04.gif")
          li
            a(href="#")
              img(src="/images/nav_05.gif")
          li
            a(href="#")
              img(src="/images/nav_06.gif")
          li
            a(href="/logout")
              //img(src="/images/nav_07.gif")
              i.icon-off.icon-2x
      .search
        form(method="post")
          i.icon-search.icon-large#icon_search
            input(type="text",class="search-query",id="input_search",name="search")
    .header_bottom
      .avatar
        img(src="/images/2.png",alt="img")
      
      .navigator_sign
        .navigator
          .right_show
            ul.nav
              li
                a(href="/text")
                  img(src="/images/nav_text.png") 
                  br
                  span 文字
              li
                img(src="/images/na.gif")
              li
                a(href="/photo")
                  i.icon-camera-retro.icon-3x
                  //img(src="/images/nav_photo.png")
                  br
                  span 照片
              li
                img(src="/images/na.gif")
              li
                img(src="/images/nav_quote.png")
                br
                span 名言
              li
                img(src="/images/na.gif")
              li
                img(src="/images/nav_link.png")
                br
                span 链接
              li
                img(src="/images/na.gif")
              li
                img(src="/images/nav_chat.png")
                br
                span @伊
              li
                img(src="/images/na.gif")
              li
                img(src="/images/nav_audio.png")
                br
                span 音乐
              li
                img(src="/images/na.gif")
              li
                img(src="/images/nav_video.png")
                br
                span 视频
        
        .sign
          p 忍耐，朋友是最重要的。
        
      .aide
        .weather
          img(src="/images/sun.png")
          img(src="/images/moon.png").weather_img          
          p
            | 沈阳 &nbsp;&nbsp;-3°C ~ -15°C
            br
            | 晴转多云 东南风三级
        .date
          p 周五 壬申 廿二
        i.icon-sort-down.icon-2x.top_show
          
    .content
      .content_left
        .messageBar
          include posts
      .content_right
        .noticeBar
          .my_info
            .msg_title
              span 张国荣
              span 男
              span 演员
            div
              p#my_info_content
                a(href="#") 1028442429@qq.com
                br
                a(href="#") 1028442429@qq.com
                br
                a(href="#") 1028442429@qq.com
                br
                a(href="#") 1028442429@qq.com
                br
                a(href="#") 1028442429@qq.com
                br
                a(href="#") 1028442429@qq.com
                br
                a(href="#") 1028442429@qq.com
              .icon-plus-sign#unfold
              .icon-minus-sign#fold
                
          .present
            span.icon-gift
            span 礼物
            span.num 12321312
          .feeling.wanxin
            span.icon-heart
            span 万信
            span.num 234324
          .feeling.discuss
            span.icon-heart
            span 讨论
            span.num 123213
          .feeling.like
            span.wlw-heart
            span 喜欢
            span.num 4354
          .quote
            a(href="/findfollow")
              span.icon-hand-right
              span 关注更多
              span.num 4354
          .photo
            img(src="/images/zj.png")
            .buttons
              a(href="#").button
                i.icon-plus
              a(href="#").button
                i.icon-refresh
              a(href="#").button
                i.icon-heart
