extends layout

block append head
  block title 
    title 个人中心 - #{user.name}的主页

  link(href='/stylesheets/homed.css',rel='stylesheet')
  link(rel="stylesheet",type="text/css",href="/stylesheets/bootstrap-wysihtml5.css")
  link(rel="stylesheet",type="text/css",href="/stylesheets/text.css")
  link(rel="stylesheet",type="text/css",href="/stylesheets/info-area.css")

  script(src='/javascripts/wysihtml5-0.3.0.js')
  script(src='/javascripts/bootstrap-wysihtml5.js')
  script(src='/javascripts/prettify.js')

  //for the images from artZoom
  script(src="/artZoom/jquery.artZoom.js")
  link(rel="stylesheet",type="text/css",href="/artZoom/jquery.artZoom.css")
  script(src='/javascripts/photosize.js')

  //script(src='/javascripts/toggleelement.jquery.js')
  //script(src='/javascripts/page.js')

  //script(src='/javascripts/home.js')
  script
    $(function () {
      
      var overlay = {
        _obj: $('<div></div>').css({
          position: 'fixed', 
          left: '0', top: '0', width:'100%', height:'100%',
          display: 'none',
          backgroundColor: 'rgba(22,22,22,0.85)'
        }).appendTo(document.body).click(function (event) {
          event.preventDefault();
          overlay.revert();
        }),
        display: function () {
          this._obj.show();
          return this;
        },
        revert: function (callback) {
          if (callback) {
            this._callback = callback;
          } else {
            if (this._callback) this._callback();
            this._obj.fadeOut();
          }
          return this;
        }
      };

      $('#post-box').click(function () {
        var $this = $(this);
        $('textarea', this).slideDown().focus();
        $('.text-holder', this).hide();
        overlay.display().revert(function () {
          $('#post-box .text-holder').html($('#post-box textarea').slideUp().val()).show();
        });
      });

      $('#post').submit(function (event) {
        event.preventDefault();
        if($('#post-box textarea').css('display')=='none') return;
        var $this = $(this);
        $.post($this.attr('action'), 
        $this.serialize()).success(function (data) {
          overlay.revert();
          var $data = $(data).hide();
          $('#posts-list').prepend($data);
          $('#attachment').html('').hide();
          $data.slideDown();
        });
      });
      
      $('#img-btn').append($('<iframe src="/new/photo/upload?callback=upload"></iframe>').css({
        display: 'none'
      })).click(function(event) {
        var $ifr;
        event.preventDefault();
        $ifr = $(this).children('iframe').contents();
        $ifr.find('#photo-upload-btn').click().change(function() {
          return $ifr.find('#photo-upload').submit();
        });
      });

      window.upload = function(opt) {
        if (opt.name) {
          var $obj = $('<div class="img"></div>')
            .append('<img width="200" src="/uploads/post/'+opt.name+'" />')
            .append('<input type="hidden" name="image[]" value="'+ opt.name +'" />');
          $('#attachment').append($obj).show();
          $('#post-box').click();
        }
      };

    });
    
block body
  #everything
    .header
      include postbar
    .flip
      include flip
    .content
      #posts-list.posts

        #info-area
          .title Hello,world!
          .content Content is content.

        include posts-list

    .rightbar
      include rightbar
    .clearfix

    .footer
