extends layout
block append head
  title home
  link(href="/stylesheets/home.css",rel="stylesheet")
  link(href="/stylesheets/docs.css",rel="stylesheet")
  link(href="/javascripts/google-code-prettify/prettify.css",rel="stylesheet")
  script(src="/javascripts/toggleelement.jquery.js")
  //script(src="/javascripts/application.js")

  script(src='/javascripts/jquery.pjax.js')

  


  link(rel="stylesheet",type="text/css",href="/stylesheets/prettify.css")
  link(rel="stylesheet",type="text/css",href="/stylesheets/bootstrap-wysihtml5.css")
  link(rel="stylesheet",type="text/css",href="/stylesheets/text.css")

block body
  
  //input(type="button",value="点我",onclick="locking('newtext');")
  #newtext(style="display:none;position: fixed; z-index: 3;height:auto; padding:20px;width:auto;top:20%;left:25%;border:2px solid #a2d2d2; ")
    include newText
  #ly(style="position:fixed; top:0; left:0; z-index:2; width:100%; height:100%; background:#000; filter:alpha(opacity=70); opacity:0.7;display: none;")
  
  
  #container
    .header_top#headerbar
      p 万里万.
      .logo
        a(href="#")
          img(src="/images/logo.png")
      .header_nav
        ul
          li
            a(href="#")
              i.icon-home.icon-2x
              //img(src="/images/nav1_01.gif")
          li
            a(href="#")
              img(src="/images/nav_02.gif")
          li
            a(href="#")
              img(src="/images/nav_03.gif")
          li
            a(href="#")
              img(src="/images/nav_04.gif")
          li
            a(href="#")
              img(src="/images/nav_05.gif")
          li
            a(href="#")
              img(src="/images/nav_06.gif")
          li
            a(href="/logout")
              //img(src="/images/nav_07.gif")
              i.icon-off.icon-2x
      .search
        form(method="post")
          i.icon-search.icon-large#icon_search
            input(type="text",class="search-query",id="input_search",name="search")
    


    .header_bottom
      .avatar
        img(src="/images/2.png",alt="img")
      
      .navigator_sign
        .navigator
          ul.nav
            li
              a(href="/new/text")
                i.icon-pencil.icon-3x 
                //img(src="/images/nav_text.png") 
                br
                span 文字
            li
              a(href="/new/photo")
                i.icon-camera-retro.icon-3x
                //img(src="/images/nav_photo.png")
                br
                span 照片
            li
              a(href="/new/sign")
                i.icon-quote-right.icon-3x
                //img(src="/images/nav_quote.png")
                br
                span 名言
            li
              a(href="/new/link")
                i.icon-link.icon-3x
                //img(src="/images/nav_link.png")
                br
                span 链接
            li
              a(href="/new/music")
                i.icon-music.icon-3x
                //img(src="/images/nav_audio.png")
                br
                span 音乐
            li
              a(href="/new/video")
                i.icon-facetime-video.icon-3x
                //img(src="/images/nav_video.png")
                br
                span 视频
            li
              a(href="/new/bell")
                i.icon-bell.icon-3x
                //img(src="/images/nav_chat.png")
                br
                span @伊

        .sign
          p 忍耐，朋友是最重要的。
        
      .aide
        .weather
          img(src="/images/sun.png")
          img(src="/images/moon.png").weather_img          
          p
            | 沈阳 &nbsp;&nbsp;-3°C ~ -15°C
            br
            | 晴转多云 东南风三级
        .date
          p 周五 壬申 廿二
        i(data-toggle="#headerbar").icon-sort-down.icon-2x.top_show
    #pjax-container      
    .content
      .content_left
        .messageBar
          include posts
      .content_right
        include right

block append footerjs
  script(src='/javascripts/wysihtml5-0.3.0.js')
  script(src='/javascripts/prettify.js')
  //script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/bootstrap-wysihtml5.js')
  script
    $('.textarea').wysihtml5();
  script
    $(function () {
      $('[data-toggle]').toggleElement({
        duration: 10000,
        toggle: function (elem) {
          var $elem = $(elem);
          $(elem).slideToggle();
          $(".top_show").fadeToggle();
        }
      }).each(function (index,elem) {
        var $elem = $(elem);
        var $toggle = $($elem.data('toggle'));
        $toggle.trigger('mouseleave');
      });

      $(document).pjax('a', '#pjax-container');

      $(document).on('pjax:complete', function () {
        $('#pjax-container .textarea').wysihtml5();
      });
    });
