extends layout

block append head
  block title 
    title 个人中心 - #{user.name}的主页

  link(href='/stylesheets/homeb.css',rel='stylesheet')
  link(rel="stylesheet",type="text/css",href="/stylesheets/bootstrap-wysihtml5.css")
  link(rel="stylesheet",type="text/css",href="/stylesheets/text.css")
  link(rel="stylesheet",type="text/css",href="/stylesheets/info-area.css")

  script(src='/javascripts/wysihtml5-0.3.0.js')
  script(src='/javascripts/bootstrap-wysihtml5.js')
  script(src='/javascripts/prettify.js')

  script(src='/javascripts/toggleelement.jquery.js')
  script(src='/javascripts/page.js')

  script(src='/javascripts/home.js')
    
block body
  #everything
    
    .header

      .avatar
        img(src=user.avatar,alt="Avatar")
        .action 
          a.edit-btn(href="#") 改头像
          a.home-btn(href="#") 去主页
      
      .navigator
        ul.nav
          li
            a(href="/new/text")#new-post-btn.pjax
              i.icon-pencil.icon-3x
              br
              span 文字
          li
            a(href="/new/photo")
              i.icon-camera-retro.icon-3x
              br
              span 图片
          li
            a(href="/new/music")
              i.icon-music.icon-3x
              br
              span 音乐
          li
            a(href="/new/video")
              i.icon-facetime-video.icon-3x
              br
              span 视频
          li
            a(href="/new/link")
              i.icon-link.icon-3x
              br
              span 链接
          li
            a(href="/new/bell")
              i.icon-quote-right.icon-3x
              br
              span 签名
          li
            a(href="/new/bell")
              i.icon-bell.icon-3x
              br
              span @伊
        .clearfix
        #new-post-area 
          block new-post-area
      .sign
        p 有志者事竟成,破釜沉舟,百二秦关终属楚;苦心人天不负,卧薪尝胆,三千越甲可吞吴。
        
      .clearfix
    .content
      #posts-list.posts

        #info-area
          .title Hello,world!
          .content Content is content.

        include posts-list
        .clearfix

      .rightbar
        include rightbar
      .clearfix
    .footer
