extends layout

block append head
  block title 
    title home

  link(href='/stylesheets/homec.css',rel='stylesheet')
  link(rel="stylesheet",type="text/css",href="/stylesheets/bootstrap-wysihtml5.css")
  link(rel="stylesheet",type="text/css",href="/stylesheets/text.css")

  script(src='/javascripts/wysihtml5-0.3.0.js')
  script(src='/javascripts/bootstrap-wysihtml5.js')
  script(src='/javascripts/prettify.js')

  script(src='/javascripts/toggleelement.jquery.js')
  script(src='/javascripts/jquery.pjax.js')

  script
    function floatbar($elem, event) {
      if ($elem.css('display') != 'none') {
        $elem.css('display', 'none');
      } else {
        $elem.css('display', 'block');
      }
    }

block body
  #everything
    .postbar

    