extends layout

block append head
  block title 
    title home

  link(href='/stylesheets/homeb.css',rel='stylesheet')
  link(rel="stylesheet",type="text/css",href="/stylesheets/bootstrap-wysihtml5.css")
  link(rel="stylesheet",type="text/css",href="/stylesheets/text.css")

  script(src='/javascripts/wysihtml5-0.3.0.js')
  script(src='/javascripts/bootstrap-wysihtml5.js')
  script(src='/javascripts/prettify.js')

  script(src='/javascripts/toggleelement.jquery.js')
  script(src='/javascripts/jquery.pjax.js')

  block home-script
    script
      $(function () {
        if ($.support.pjax) {
          var container = null;
          var overlay = $('<div></div>').css({
            position: 'fixed', 
            left: '0', top: '0', width:'100%', height:'100%',
            display: 'none',
            backgroundColor: 'rgba(22,22,22,0.85)'
          }).appendTo(document.body);

          $('#new-post-area').hide();

          $(document).on('click', '*', function (event) {
            if ($('#new-post-area').css('display') != 'none') {
              if (event.target.id != 'new-post-area' && !$.contains(container.get(0), event.target)) {
                $('#new-post-area').slideUp();
                window.history.replaceState(null, null, '/homeb/');
                event.stopPropagation();
                overlay.fadeOut();
              }
            }
          });

          $(document).on('click', '.nav a', function (event) {
            event.preventDefault();
            container = $('#new-post-area');
            $.pjax.click(event, {
              container: container
            });
          });

          $(document).on('pjax:complete', function () {
            $('#new-post-area .textarea').wysihtml5({
              "font-styles": false,
              "emphasis": false,
              "lists": false,
            });
            $('#new-post-area').slideDown();
            overlay.fadeIn();
          });

        }
      });

block body
  #everything
    .header
      .avatar
        img(src="/images/2.png",alt="img")
      
      .navigator
        ul.nav
          li
            a(href="/new/text")#new-post-btn.pjax
              i.icon-pencil.icon-3x
              br
              span 文字
          li
            a(href="/new/photo")
              i.icon-camera-retro.icon-3x
              br
              span 图片
          li
            a(href="/new/music")
              i.icon-music.icon-3x
              br
              span 音乐
          li
            a(href="/new/video")
              i.icon-facetime-video.icon-3x
              br
              span 视频
          li
            a(href="/new/link")
              i.icon-link.icon-3x
              br
              span 链接
          li
            a(href="/new/bell")
              i.icon-quote-right.icon-3x
              br
              span 签名
          li
            a(href="/new/bell")
              i.icon-bell.icon-3x
              br
              span @伊
        .clearfix
        #new-post-area 
          block new-post-area
      .sign
        p 有志者事竟成,破釜沉舟,百二秦关终属楚;苦心人天不负,卧薪尝胆,三千越甲可吞吴。
        
      .clearfix
    .content
      .posts
        include post
      .rightbar
        include rightbar
      .clearfix
    .footer
