extends layout

block append head
  title 万里万，管饭的社交网络
  link(rel='stylesheet', href='/stylesheets/wanliwan.css')
  
block body
  .topbar.navbar.navbar-static-top
    .navbar-inner
      .container
        .nav
          li.active
            a(href='/') 主页
          li
            a(href='/login') 登入
          li
            a(href='/register') 登记
  .container
    .hero-unit.mark-br
      h1 万里万
      p 一群人，一个团队，一个梦想。
      a(href='/register').btn.btn-primary 加入我们
      | 
      a(href='/login').btn 登入
