<!DOCTYPE html>
<html>
  <head>
    <title>万里万, 管饭的社交网络...</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/wanliwan.css' />
  </head>
  <body>
    <div class="topbar navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit mark-br">
        <h1>Wanliwan, 万里万</h1>
        <p>Welcome to the development site of wanliwan, a freshly social network for fresh people. We hope that the project will give you the idea of a better life.</p>
        <a class="btn btn-primary" href="/">Continue</a>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="pull-right">
          Projects used in this site  can be found <a href="/about">here</a>.
        </p>
        <p>
          &copy; <a href="mailto:yfwz100@yeah.net">Wanliwan development team.</a>
        </p>
      </div>
    </footer>
  </body>
</html>
