doctype 5
html
  head
    meta(charset='utf8')
    title 万里万，管饭的社交网络
    block head
      link(rel='stylesheet',href='/stylesheets/bootstrap.css')

  body
    block body

    script(src="/javascripts/bootstrap.js")
