doctype 5
html
  head
    meta(charset='utf8')
    block head
      link(rel='stylesheet',href='/stylesheets/bootstrap/bootstrap.css')
      link(rel='stylesheet',href='/stylesheets/wlw.css')
      link(rel='stylesheet',href='/stylesheets/wanliwan.css')
      script(src='/javascripts/jquery.js')
      
  body      
    block body
    //block footer
      .footer
        .container
          p.pull-right
            | Projects used in this site  can be found 
            a(href='/about') here
            | .
          p 
            | &copy; 
            a(href='mailto:yfwz100@yeah.net') Wanliwan development team
            | .
    block footerjs
      script(src="/javascripts/bootstrap.js")
     

