extends layout

block append head
  title 欢迎加入这个世界
  link(rel='stylesheet',href='/css/wanliwan.css')
  link(href="/stylesheets/carousel.css",rel="stylesheet")

block body
  .navbar-wrapper
    .container
      .navbar.navbar-inverse
        .navbar-inner
          a(data-toggle="collapse",data-target=".nav-collapse").btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href="/").brand 万里万

          .nav-collapse.collapse
            ul.nav
              li.active: a(href="/") 主页
              li: a(href='/news') 新鲜事
              li: a(href='/explore') 探索
              li: a(href="/about") 关于
              
              li.dropdown
                a(href="#",data-toggle="dropdown").dropdown-toggle 更多
                  b.caret
                ul.dropdown-menu
                  li: a(href="#") 这是什么？
                  li: a(href="https://github.com/yfwz100/wanliwan") 项目说明

  .stage.container.featurette
    form(action='/login', method='POST').form-horizontal
      fieldset
        legend 登陆

        .control-group
          label(for='username').control-label 邮箱:
          .controls
            input(type='text',id='username',name='user[name]',placeholder='your account')
              
        .control-group
          label(for='password').control-label 密码:
          .controls
            input(type='password',id='password',name='user[pass]',placeholder='your password')

      .form-actions
        input(type='submit',value='登陆').btn.btn-primary
        | 
        input(type='reset',value='洗洗睡吧').btn 
        
block footer
