<!DOCTYPE html>
<html>
  <head>
    <title>WLW, a wide range social network.</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/wanliwan.css' />
  </head>
  <body>
    <div class="topbar navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <form class="form-horizontal" action="/login" method="POST">
        <fieldset>
          <legend>Login</legend>

          <div class="control-group">
            <label class="control-label" for="username">User name: </label>
            <div class="controls">
            	<input type="text" id="username" name="user[name]" placeholder="your account" />
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="password">Password: </label>
            <div class="controls">
            	<input type="password" id="password" name="user[pass]" placeholder="your password" />
            </div>
          </div>
        </fieldset>

        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="Login" />
          <input class="btn" type="reset" value="Reset" />
        </div>
      </form>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="pull-right">
          Projects used in this site  can be found <a href="/about">here</a>.
        </p>
        <p>
          &copy; <a href="mailto:yfwz100@yeah.net">Wanliwan development team.</a>
        </p>
      </div>
    </footer>
  </body>
</html>
