extends homeb

block title
  title 发表文章

block append home-script
  script 
    $(function () {
      $('#new-post-area .textarea').wysihtml5({
        "font-styles": false,
        "emphasis": false,
        "lists": false,
      });
      $('#new-post-area').slideDown();
      overlay.show();
    });

block new-post-area
  include newText

