.new-post-editor
  form(action='/new/text', method='POST')
    textarea(placeholder="从明天起，做一个幸福的人，喂马、劈柴、周游世界……",name='text[content]').textarea
    .action
      button(type='submit').btn.btn-primary 发布～


