.new-post-editor
  form(action='/new/text', method='POST')
    textarea(placeholder="从明天起，做一个幸福的人，喂马、劈柴、周游世界……",name='text[content]',style="width: 480px; height: 100px").textarea
    .action
      button(type='submit').btn.btn-primary 发布～
      | 
      a(href="/home").btn.right 还是不发了:)


