-var position = true;
-var temposition = position;
-var tempost  = {author:{}} 
each post in posts
  if tempost.author.name != post.author.name
    - position = !position
  - tempost = post
  .tip
    if  position
      
      img(src="/images/2-1.png").msg_avatar
      .message
        include message
    else
      .message
        include message
      img(src="/images/1.png").msg_avatar
  -temposition = position
else
  span.center  你没有一点儿相关信息0_O!
  a(href='findfollow').btn.btn-primary 加关注！
