.avatar
  img(src=user.avatar,alt="Avatar")
  .action 
    a.edit-btn(href="/home/avatar") 改头像
    a.home-btn(href="#") 去主页
      
.navigator
  ul.nav
    li
      a(href="/new/photo")
        i.icon-camera-retro.icon-4x
        .text 图片
    li
      a(href="/new/music")
        i.icon-music.icon-4x
        .text 音乐
    li
      a(href="/new/video")
        i.icon-facetime-video.icon-4x
        .text 视频
    li
      a(href="/new/link")
        i.icon-link.icon-4x
        .text 链接
    //li
      a(href="/new/bell")
        i.icon-quote-right.icon-4x
        .text 签名
    li
      a(href="/new/bell")
        i.icon-bell.icon-4x
        .text @伊
    
  //.sign
    p 有志者事竟成,破釜沉舟,百二秦关终属楚;苦心人天不负,卧薪尝胆,  三千越甲可吞吴。
  .clearfix

  #new-post-area 
    block new-post-area
  form(action='/new/text',method="POST").formp
    input(type="text",name='text[content]',placeholder="")
    button(type="submit").btn 发表
.clearfix
