form(action='/new/text', method='POST').form-horizontal
  textarea(placeholder="在这里输入...",name='text[content]',style="width: 503px; height: 200px").textarea
  .form-actions
    input(type='submit',value='开启奇妙之旅').btn.btn-primary
    a(href="/home").btn.right 我再考虑一下

//
  block append footerjs
    script(src='/javascripts/wysihtml5-0.3.0.js')
    script(src='/javascripts/prettify.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap-wysihtml5.js')
    script
      $('#pjax-container .textarea').wysihtml5();
