doctype 5
html
  head
    meta(charset='utf8')
    block head
      title 欢迎加入
      link(rel='stylesheet',href='/stylesheets/bootstrap/bootstrap.css')
      link(rel='stylesheet',href='/stylesheets/wlw.css')
      link(rel='stylesheet',href='/stylesheets/wanliwan.css')
      script(src='/javascripts/jquery.js')
      link(rel='stylesheet',href='/stylesheets/register.css')
      script(src='/javascripts/check.js')

body
  .container
    .login
      a(href="/login").btn
        span 已有账号
        &nbsp&nbsp
        i.icon-home.icon-large 
    .clearfix
    .logo
      a(href="/")
        span.chinese .万里万
        span.english wanliwan.
    .clearfix
    .register
      form(action='/register',method='POST',onsubmit="return checkReg()")
        input(type='text',id='email',name='user[email]', placeholder='邮箱').mail
        input(type='text',id='name',name='user[name]', placeholder='昵称').name
        #pass
          input(type='password',id='password',name='user[password]', placeholder='密码').password
        
        label.showpassword.checkbox
          input(type='checkbox',onclick='showPassword(this)')
          span 显示密码
     
        #error.btn.btn-warning.error
        #error1.btn.btn-danger.error1
        #error2.btn.btn-info.error2
        input(type='submit',value='立即 加入').btn.btn-block.btn-primary.btn-large#rsubmit
    
      .clearfix  
      .help
 

