.noticeBar
  .my_info
    .msg_title
      span 张国荣
      span 男
      span 演员
    div
      p#my_info_content
        a(href="#") 1028442429@qq.com
        br
        a(href="#") 1028442429@qq.com
        br
        a(href="#") 1028442429@qq.com
        br
        a(href="#") 1028442429@qq.com
        br
        a(href="#") 1028442429@qq.com
        br
        a(href="#") 1028442429@qq.com
        br
        a(href="#") 1028442429@qq.com
      .icon-plus-sign#unfold
      .icon-minus-sign#fold
        
  .present
    span.icon-gift
    span 礼物
    span.num 12321312
  .feeling.wanxin
    span.icon-heart
    span 万信
    span.num 234324
  .feeling.discuss
    span.icon-heart
    span 讨论
    span.num 123213
  .feeling.like
    span.wlw-heart
    span 喜欢
    span.num 4354
  .quote
    a(href="/findfollow")
      span.icon-hand-right
      span 关注更多
      span.num 4354
  .photo
    img(src="/images/zj.png")
    .buttons
      a(href="#").button
        i.icon-plus
      a(href="#").button
        i.icon-refresh
      a(href="#").button
        i.icon-heart