.userinfo
  .nameinfo  
    p #{user.name}
  .description
    p 戏如人生 人生如戏
.bloginfo
  .post
    a(href="#")
      span 发表   58
  .retweet
    a(href="#")
      span 转发   123
  .like
    a(href="#")
      span 喜欢   254
  .reply
    a(href="#")
      span 讨论   54
.recommend