.userinfo
  .nameinfo  
    p #{user.name}
  .description
    p 戏如人生 人生如戏
.bloginfo
  .post
    i.icon-file.icon-large &nbsp&nbsp发表
    //显示自己发表数量
    a(href="#").myself  33
    //显示上一次登陆至今你所关注的人发表数量
    &nbsp&nbsp
    a(href="#").others  33
  .retweet
    i.icon-retweet &nbsp&nbsp转发
    //显示我转发的数量
    a(href="#").myself  434455
    &nbsp&nbsp
    //显示别人转发我的数量
    a(href="#").others  345433
  .like
    i.icon-heart &nbsp&nbsp喜欢
    //显示自己喜欢的数量
    a(href="#").myself  254
    //显示自己被别人喜欢的数量
    &nbsp&nbsp
    a(href="#").others  33
  .reply
    i.icon-comments &nbsp&nbsp讨论
    //显示自己参与评论的总数
    a(href="#").myself  34
    &nbsp&nbsp
    //显示从上次登陆至今别人对自己的tip和自己评论的评论数量
    a(href="#").others  33
.blogmanage
  a(href="#")
    i.icon-group.icon-large.blogavatar
    i.icon-plus.blogplus &nbsp
    span 寻找博客
  a(href="#").manage
    i.icon-cogs.icon-large
.hot
  .post
.recommend
