<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
  </head>
  <body class="container">
    <div class="hero-unit">
      <h1><%= title %></h1>
      <p>Express is a good thing.</p>
      <a class="btn btn-primary" href="/">Continue</a>
    </div>
  </body>
</html>
