body {
  margin-top: 0px;
  background: url("../images/jianbian700.png") repeat-x;
  background-color:#44628a;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: rgb(68, 68, 68);
  overflow: auto;
}
a:link{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:active{
  text-decoration:none;
}
#everything{
  position: relative;
  width: 928px;
  margin: 0 auto;
  padding: 0px;
}

.container {
  width: 888px;
}

//begin header
.header{
  margin-top: 15px;
  position: relative;
} 

.header .avatar {
  width: 119px;
  height: 136px;
  
  img {
    width: 119px;
    height: 136px;
  }
}

.avatar{
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  &:hover .action {
    bottom: 0;
  }

  .action {
    position: absolute;
    bottom: -3em;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(22,22,22,0.8);
    line-height: 2em;

    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;

    .edit-btn {
      width: 50%;
      display: block;
      float: left;
      color: #efefef;

      &:hover {
        background-color: rgba(120,120,120,0.8);
        color: #fafafa;
      }
    }

    .home-btn {
      width: 50%;
      display: block;
      float: left;
      color: #efefef;

      &:hover {
        background-color: rgba(120,120,120,0.8);
        color: #fafafa;
      }
    }
  }
}

.navigator {
  position: absolute;
  top: 0px;
  left: 134px;
  min-height: 98px;
  width: 544px;
  border-radius: 10px 10px 5px 5px;
  overflow: hidden;
  background-color: #ffffff;
}
.navigator ul.nav{
  margin: 0 auto;
  padding: 0px;
}
.navigator ul.nav li{
  list-style: none;
  display: inline-block;
  margin-top: 2px;
  margin: 15px 8px 0px 9px;
  float: left;
  text-align: center;
}
.navigator ul.nav li>a:hover{
  background-color: transparent;
}
.navigator ul.nav li span{
  margin-top: 2px;
  display: block;
  width: 60px;
  text-align: center;
  color: #8f9091;
}

.sign{
  position: absolute;
  bottom: 0px;
  left: 134px;
  width: 544px;
  background-color: rgb(199,227,239);
  margin-top: 6px;
  border-radius: 5px 5px 10px 10px;
} 
.sign p{
  padding-left: 14px;
  margin: 5px auto;
  margin-left: 5px;
}
//end header

//begin content
.content{
  margin-top: 15px;
  position: relative;
  margin-bottom: 10px;
}


//begin posts
.content .posts{
  background-color: #44628a;
  float:left;
  width: 678px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 25px 5px 25px 25px;
  box-shadow: inset 1em 1em 1em -1em #555;
  position: relative;
}
.content .posts .tip{
  float: left;
  margin-top: 7px;
  margin-left: 25px; 
  margin-bottom: 7px;
}
.content .posts .tip .message{
  border: 1px solid #ccc;
  width: 530px;
  float: left;
  margin-right: 15px;
  background-color: rgb(240,240,240);
  border-radius: 10px;

}
.content .posts {

  .tip .msg_avatar {
    img {
      width: 91px;
      height: 104px;
    }
    margin: 0px 15px 0px 0px;
    border-radius: 10px;
    overflow:hidden;
  }

  .tip-right .msg_avatar {
    float: right;
  }
  
  .tip-left .msg_avatar {
    float: left;
  }

}


.msg_info{
  margin: 8px 10px 8px 10px;
}
.msg_info .name{
  float: left;
  color: black;
  font-weight: bold;
}
.msg_info .time{
  float:right;
}
.msg_info .tool{
  float:right;
  opacity:0.8;
}

.msg_info .tool .edit{
  margin-right: 10px;
  margin-left: 10px;
}


.msg_show {
  background-color: rgb(199,227,239);
  padding: 2px 10px 2px 10px; 
  margin: 10px 0px 10px 0px;
  border-radius: 0px;
  min-height: 20px;
}
.msg_show p{
  margin:0;
}

.msg_interactive {
  margin: 0px 10px 10px 10px; 
}
.msg_interactive .tags{
  color: green;
}
.msg_interactive .reply{
  margin-left: 10px;
  float:right;
  opacity:0.8;
}
.msg_interactive .retweet{
  margin-left: 10px;
  float:right;
  opacity:0.8;
}
.msg_interactive .like{
  margin-left: 10px;
  float:right;
  opacity:0.8; 
}
//end posts

//begin rightbar
.content .rightbar{
  position: absolute;
  right:0px;
  background-color: #44628a;
  width:240px;
  border-radius: 5px 25px 0px 0px;
  box-shadow: inset -1em 1em 1em -1em #555;
  overflow: hidden;
}


//userinfo
.content .rightbar .userinfo{
  color:#adb4bc;
  border:1px solid rgb(36,66,83);
  margin: 25px 25px 0px 15px;
  border-radius: 5px 15px 15px 15px;
  background-color: rgb(47,83,101);
}
.content .rightbar .userinfo .nameinfo p{
  margin-left: 10px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.content .rightbar .userinfo .description p{
  margin-left: 10px;
  color: gray;
  font-weight: bold;
}


//bloginfo
.content .rightbar .bloginfo{
  color:#adb4bc;
  border:1px solid rgb(36,66,83);
  margin: 10px 25px 0px 15px;
  border-radius: 15px 15px 2px 2px;
  background-color: rgb(47,83,101);  
}


.content .rightbar .bloginfo i{
  margin-left: 10px;
}

.content .rightbar .bloginfo .myself{
  margin-left: 2px;
}
.content .rightbar .bloginfo .others{
  float: right;
  margin-right:10px; 
}

.content .rightbar .bloginfo .post{
  border-bottom: 1px solid rgb(36,66,83);
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.content .rightbar .bloginfo .retweet{
  border-bottom: 1px solid rgb(36,66,83);
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
.content .rightbar .bloginfo .like{
  border-bottom: 1px solid rgb(36,66,83);
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
.content .rightbar .bloginfo .reply{
  margin-top: 5px;
  overflow: hidden;
}

//blogmanage
.content .rightbar .blogmanage{
  color:#adb4bc;
  border:1px solid rgb(36,66,83);
  margin: 10px 25px 0px 15px;
  border-radius:2px 2px 15px 15px;
  background-color: rgb(47,83,101); 
}

.content .rightbar .blogmanage a {
  margin:5px 10px 2px 10px;
}
.content .rightbar .blogmanage .find {
  float: left;
}
.content .rightbar .blogmanage .find .blogavatar{
  float: left;
}
.content .rightbar .blogmanage .find .blogplus{
  float: left;
  margin-top: 7px;
}
.content .rightbar .blogmanage .find span{
}

.content .rightbar .blogmanage .manage{
  float: right;
}




//hot
.content .rightbar .hot {
  color:#adb4bc;
  border:1px solid rgb(36,66,83);
  margin: 15px 25px 0px 15px;
  border-radius:15px 15px 5px 5px ;
  background-color: rgb(47,83,101);
  padding: 5px 10px 0px 4px;
  padding-right: 5px;
  overflow: hidden;
}
.content .rightbar .hot ul li{
  list-style: disc;
}

.content .rightbar .hot ul li>a:hover{
  background-color: transparent;
}


//recommend
.content .rightbar .recommend {
  color:#adb4bc;
  
  margin: 10px 25px 0px 15px;
  border-radius: 2px 2px 15px 15px;
  overflow: hidden;
}

.content .rightbar .recommend .image {
  background-color: rgb(47,83,101);
  border-radius: 5px;
  overflow: hidden;
}

.content .rightbar .recommend .image img{
  border-radius: 5px 5px 0px 0px;
  border-bottom:1px solid rgb(26,56,73);
  //border-top:1px solid rgb(168,168,168);
}

.love_reblog_comment{
  border-radius: 0px 0px 5px 5px ;
}
.love_reblog_comment a.heart,a.comment{
  display: block;
  width: 65px;
  height: 40px;
  line-height:40px;
  float: left;
  text-align: center;
  background-color: rgb(47,83,101);
}
.love_reblog_comment a.reblog{
  display: block;
  width: 68px;
  height: 40px;
  line-height:40px;
  float: left;
  text-align: center;
  border-right:1px solid rgb(57,97,117);
  border-left:1px solid rgb(57,97,117);
  background-color: rgb(47,83,101);
}


.love_reblog_comment>a:hover{
  background-color: #5389b3;
}
  

.content .rightbar .recommend .blog{
  margin-top: 5px;
}

.content .rightbar .recommend .blog img {
  border:1px solid rgb(36,66,83);
  border-radius: 3px;
  float: left;
  width: 42px;
  height: 48px;
}
.content .rightbar .recommend .blog span {
  margin-left: 10px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
//end rightbar




//end content
