body {
  margin-top: 0px;
  background: url("../images/jianbian700.png") repeat-x;
  background-color:#44628a;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: rgb(68, 68, 68);
  overflow: auto;
}
a:link{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:active{
  text-decoration:none;
}


#everything{
  position: relative;
  width: 928px;
  margin: 0 auto;
  padding: 0px;

    //begin header
  .header{
    margin-top: 15px;
    position: relative;

    
    .avatar {
      width: 119px;
      height: 136px;
  
      

      img {
        width: 119px;
        height: 136px;
      }
    }
    //end of avatar

    .navigator {
      position: absolute;
      top: 0px;
      left: 134px;
      min-height: 98px;
      width: 544px;
      border-radius: 10px 10px 5px 5px;
      overflow: hidden;
      background-color: #ffffff;

      ul.nav{
        margin: 0 auto;
        padding: 0px;


        li{
          list-style: none;
          display: inline-block;
          margin-top: 2px;
          margin: 15px 8px 0px 9px;
          float: left;
          text-align: center;

          span{
            margin-top: 2px;
            display: block;
            width: 60px;
            text-align: center;
            color: #8f9091;
          }
        }

        li>a:hover{
          background-color: transparent;
        }
      }
    }
    //end of navigator


    .sign{
      position: absolute;
      bottom: 0px;
      left: 134px;
      width: 544px;
      background-color: rgb(199,227,239);
      margin-top: 6px;
      border-radius: 5px 5px 10px 10px;

      p{
      padding-left: 14px;
      margin: 5px auto;
      margin-left: 5px;
      }
    }
    //end of sign
  }  
  //end header


}



//begin content
.content{
  margin-top: 15px;
  position: relative;
  margin-bottom: 10px;


  //begin posts
  .posts{
    background-color: #44628a;
    float:left;
    width: 678px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 25px 5px 25px 25px;
    position: relative;
  
    .tip{
      float: left;
      margin-top: 7px;
      margin-left: 25px; 
      margin-bottom: 7px;
      
      .message{
        border: 1px solid #ccc;
        width: 544px;
        float: left;
        margin-right: 15px;
        background-color: #fff;
        border-radius: 10px;



        .msg_info{
          margin: 6px 10px 6px 10px;

          .name{
            float: left;
            color: #b2b2b2;
          }

          .time{
            float:right;
            color:#b2b2b2;
          }

          .tool{
            float:right;
            opacity:0.8;
            
            .edit{
              float:right;
              padding-right: 10px;
            }
            .trash{
              float: right;
            }
          }
        }

        .msg_notice {
          margin: 0px 10px 0px 10px;
          border-radius: 0px;
        }

        .msg_show {
          background-color: rgb(199,227,239);
          padding: 3px 10px 3px 10px; 
          margin: 0px 0px 5px 0px;
          border-radius: 0px;

          p{
            margin:0;
          }
        }

        .msg_interactive {
          margin: 0px 10px 0px 10px; 

          span{
            font-size: 14px;
          }

          .tags{
            color:#b2b2b2;
          }

          .reply{
            margin-left: 10px;
            float:right;
            opacity:0.8;
          }
          .retweet{
            margin-left: 10px;
            float:right;
            opacity:0.8;
          }
          .like{
            margin-left: 10px;
            float:right;
            opacity:0.8; 
          }
        }

      }

      
      .avatar{
        position: relative;
        overflow: hidden;
        border-radius: 10px;


        &:hover .action {
          bottom: 0;
        }

        .action {
          position: absolute;
          bottom: -3em;
          left: 0;
          width: 100%;
          text-align: center;
          background-color: rgba(22,22,22,0.8);
          line-height: 2em;

          transition: 1s;
          -moz-transition: 1s;
          -webkit-transition: 1s;

          .edit-btn {
            width: 50%;
            display: block;
            float: left;
            color: #efefef;

            &:hover {
              background-color: rgba(120,120,120,0.8);
              color: #fafafa;
            }
          }

          .home-btn {
            width: 50%;
            display: block;
            float: left;
            color: #efefef;

            &:hover {
              background-color: rgba(120,120,120,0.8);
              color: #fafafa;
            }
          }
        }
      }

    }

    .tip .msg_avatar {
      img {
        width: 77px;
        height: 88px;
      }
      margin: 0px 15px 0px 0px;
      border-radius: 10px;
      overflow:hidden;
    }

    .tip-right .msg_avatar {
      float: right;
    }
    
    .tip-left .msg_avatar {
      float: left;
    }
  }
  //end posts

}








//begin rightbar
.content .rightbar{
  position: absolute;
  right:0px;
  background-color: #44628a;
  width:240px;
  border-radius: 5px 25px 0px 0px;
  overflow: hidden;


  .userinfo{
    color:#adb4bc;
    border:1px solid rgb(36,66,83);
    margin: 25px 25px 0px 15px;
    border-radius: 5px 15px 15px 15px;
    background-color: rgb(47,83,101);
    
    .nameinfo {
      margin: 5px 10px 5px 10px;
      a{
      }

      span{
        margin-left: 10px;
        color: black;
        font-size: 18px;
        font-weight: bold;
      }
    }

    .description p{
      margin-left: 10px;
      margin-top: 10px;
      color: gray;
      font-weight: bold;
    }
  }
  //end of userinfo

  .bloginfo{
    color:#adb4bc;
    border:1px solid rgb(36,66,83);
    margin: 10px 25px 0px 15px;
    border-radius: 15px 15px 2px 2px;
    background-color: rgb(47,83,101);  

    i{
      margin-left: 10px;
    }

    .myself{
      margin-left: 2px;
    }
    .others{
      float: right;
      margin-right:10px; 
    }

    .post{
      border-bottom: 1px solid rgb(36,66,83);
      margin-top: 5px;
      margin-bottom: 5px;
      overflow: hidden;
    }

    .retweet{
      border-bottom: 1px solid rgb(36,66,83);
      margin-top: 5px;
      margin-bottom: 5px;
      overflow: hidden;
    }
    .like{
      border-bottom: 1px solid rgb(36,66,83);
      margin-top: 5px;
      margin-bottom: 5px;
      overflow: hidden;
    }
    .reply{
      margin-top: 5px;
      overflow: hidden;
    }
  }
  //end of bloginfo

  .blogmanage{
    color:#adb4bc;
    border:1px solid rgb(36,66,83);
    margin: 10px 25px 0px 15px;
    border-radius:2px 2px 15px 15px;
    background-color: rgb(47,83,101); 

    a {
      margin:5px 10px 2px 10px;
    }

    .find {
      float: left;
      .blogavatar{
        float: left;
      }
      .blogplus{
        float: left;
        margin-top: 7px;
      }
      span{
      }
    }
    
    .manage{
      float: right;
    }

  }
  //end of blogmanage

  .hot {
    color:#adb4bc;
    border:1px solid rgb(36,66,83);
    margin: 15px 25px 0px 15px;
    border-radius:15px 15px 5px 5px ;
    background-color: rgb(47,83,101);
    padding: 5px 10px 0px 4px;
    padding-right: 5px;
    overflow: hidden;

    ul {
      li{
        list-style: disc;
      }
      li>a:hover{
        background-color: transparent;
      }
    }
  }
  //end of hot


  .recommend {
    color:#adb4bc;
    
    margin: 10px 25px 0px 15px;
    border-radius: 2px 2px 15px 15px;
    overflow: hidden;

    .image {
      background-color: rgb(47,83,101);
      border-radius: 5px;
      overflow: hidden;

      img{
        border-radius: 5px 5px 0px 0px;
        border-bottom:1px solid rgb(26,56,73);
        //border-top:1px solid rgb(168,168,168);
      }

      .love_reblog_comment{
        border-radius: 0px 0px 5px 5px ;

        a.heart,a.comment{
          display: block;
          width: 65px;
          height: 40px;
          line-height:40px;
          float: left;
          text-align: center;
          background-color: rgb(47,83,101);
        }

        a.reblog{
          display: block;
          width: 68px;
          height: 40px;
          line-height:40px;
          float: left;
          text-align: center;
          border-right:1px solid rgb(57,97,117);
          border-left:1px solid rgb(57,97,117);
          background-color: rgb(47,83,101);
        }

        a:hover{
          background-color: #5389b3;
        }

        }
    }

    .blog {
      margin-left: 0px;
      margin-top: 5px;
      color: black;
      font-size: 18px;
      font-weight: bold;

      img {
        border:1px solid rgb(36,66,83);
        border-radius: 3px;
        float: left;
        width: 42px;
        height: 48px;
      }
    }
  }
  //end of recommend


}


 










  


//end rightbar




//end content
