
#info-area {
  display: none;
  background-color: #efefef;
  width: 100%;
  box-shadow: 0 0 5px #222;

  padding: 10px;
  margin: -10px;

  .title {
    border-bottom: 2px solid lightblue;
    font-size: 20pt;
    line-height: 1.4em;
  }
}
