
@corner: 10px;
@corner-small: 5px;

.header{
  position: absolute;
  top: 10px;
	width: 613px;

  .avatar {
    width: 98px;
    height: 112px;
    
    img {
      width: 98px;
      height: 112px;
    }
  }

  .avatar{
    position: relative;
    overflow: hidden;
    border-radius: @corner;

    &:hover .action {
      bottom: 0;
    }

    .action {
      position: absolute;
      bottom: -3em;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: rgba(22,22,22,0.8);
      line-height: 2em;

      transition: 1s;
      -moz-transition: 1s;
      -webkit-transition: 1s;

      .edit-btn {
        width: 50%;
        display: block;
        float: left;
        color: #efefef;

        &:hover {
          background-color: rgba(120,120,120,0.8);
          color: #fafafa;
        }
      }

      .home-btn {
        width: 50%;
        display: block;
        float: left;
        color: #efefef;

        &:hover {
          background-color: rgba(120,120,120,0.8);
          color: #fafafa;
        }
      }
    }
  }

  .navigator {
    position: absolute;
    top: 0px;
    left: 108px;
    min-height: 112px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 642;

    ul.nav{
      margin: 0 auto;
      padding: 0px;

      li{
        list-style: none;
        display: inline-block;
        margin: 8px 14px 0px 9px;
        float: left;
        text-align: center;
       
        float:left;
      
        .text{
          margin-top: 2px;
          display: none;
          text-align: left;
          color: #8f9091;
          font-size: 12px;
          position: relative;
          float:right;
          text-align: center;
          width: 20px;
        }
      
        a:hover {
          background-color: transparent;
        }
      }
      
    }  
    
    .sign {
      width: 500px;
      overflow: hidden;
      p {
        padding-left: 16px;
        margin: 8px 0px 8px 0px;
        color: #8f9091;
      }
    }

    .formp {
      margin: 0px 0px 0px 0px;

      #attachment {
        display: none;
        padding: 5px;
      }

      .input-box {
        width: 470px;
        min-height: 33px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: inset 0 3px 10px #efefef;
        line-height: 2em;
        color: #ccc;
        cursor: text;
        margin: 5px auto;
        padding: 5px;

        position: relative;
        overflow: hidden;

        transition: 1s;

        .text-holder {
          position: absolute;
          left: 10px;
          top: 5px;
        }

        textarea {
          border-width: 0px;
          width: 460px;
          max-width: 460px;
          box-shadow: none;
          margin-bottom: 35px;
          display: none;
        }
      }

      button {
        position: absolute;
        bottom: 5px;
        right: 5px;
        height: 32px;
      }
    } 
  }
} 


//end header
