@backgroundColor: rgb(47,83,101);

html,body {
  width: 100%;
  height: 100%;
}

body {
  margin-top: 0px;
  background-color: @backgroundColor;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif,"新宋体";
  color: rgb(68, 68, 68);
  overflow: auto;
  font-size: 16px;
}

.content {
	position: relative;
  top: 10%;
  width: 600px;
  margin: 1em auto;
  padding: 20px;
  background-color: lighten(@backgroundColor, 10%);
  border-radius: 10px;
  transition: 0.5s;
}

.sign {
	position: relative;
	color: #c7e3ef;
  text-align: center;
  padding-top: 50px;
}

.content #message {
	position: relative;
	text-align: center;
	font-size: 30px;
	color:rgb(244,244,244);
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
}

.content .center {
	text-align: center;
	margin-top: 30px;
}
